*/__pycache__/*
*.pyc
music_quiz/frontend/node_modules/
music_quiz/frontend/static/frontend/*
music_quiz/frontend/__pycache__/*
music_quiz/api/__pycache__/*
music_quiz/music_quiz/__pycache__/*
music_quiz/staticfiles/