<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Music Quiz</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link rel="stylesheet" type="text/css" href='{% static "css/index.css" %}'
    />
    <link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'
  />
    <link rel="stylesheet" type="text/css" href='{% static "css/progress.css" %}'
    />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/ico/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/ico/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/ico/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/ico/site.webmanifest' %}">
</head>
<body style="background: url(https://i.ibb.co/RbZTWdC/bg.png) no-repeat fixed center center;  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
<script src="https://sdk.scdn.co/spotify-player.js"></script>

<div>
    <header>
        <h1 class="header"> &#x266b; Music Quiz &#x266b; </h1>
    </header>


    <div id="app"></div>
</div>

<script src='{% static "frontend/main.js" %}'></script>

</body>

</html>