
.hidden {
    display: none;
}

.main-table {
    align-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.main-table-entry {
    margin-bottom: 10px;
    margin-top: 10px;
}

.header {
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    text-shadow: 2px 2px 2px #4c4c4c;
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.header-side { /* className = "header header-side" */
    font-size: 30px;
    text-align: left;
    margin: 30px;
}

.main-text {
    display: grid;
    justify-content: center;
    align-items: center;
    font-family:'Red Hat Display',sans-serif;
    font-weight:300;
    font-size: 30px;
    color: white;
}

.extra-big-text {
    font-size: 50px;
}

.smaller-text {
    font-size: 20px;
    margin: 10px;
}

.small-error-text {

    font-size: 20px;
    margin: 0px;
    color: #ff6060;
}

.start-button {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    padding: 0.3em 1.2em;
    margin: 15px;
    border-radius:0.7em;
    border-style: solid;
    border-color: #fff;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Red Hat Display',sans-serif;
    font-weight:300;
    font-size: 30px;
    color:#4D5DCA;
    background-color: #fff;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
}

.quiz-button {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    padding: 0.3em 1.2em;
    margin: 10px;
    border-radius: 0.7em;
    border: white;
    border-style: solid;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #4D5DCA;
    background-color: #fff;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
}

.extra-bold-text {
    font-weight: bolder;
}

.fill-form {
    font-family: "Red Hat Display", sans-serif;
    font-size: 100%;
    color: white;
    background: #8090fd;
    border: none;
    border-bottom: 3px dashed white;
    margin: auto;
    text-shadow: #4c4c4c;
    border-radius: 0.2em;
}
.button {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    padding: 0.3em 1.2em;
    margin: 10px;
    border-radius:0.7em;
    border-color: #fff;
    border-style: solid;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Red Hat Display',sans-serif;
    font-weight:300;
    font-size: 30px;
    color:#4D5DCA;
    background-color: #fff;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    box-shadow: black;
}

.button:hover {
    cursor: pointer;
}

.button:not([disabled]):active {
    transform: translateY(2px);
}

.quiz-button {
    width: 300px;
    height: 100px;
}

.submit-button {
    width: 150px;
    height: 80px;
}

.launch-button {
    width: 230px;
    height: 80px;
}

.smaller-button {
    width: 230px;
    height: 80px;
    font-size: 20px;
}

.smaller-button:hover{
    background-color: #dfd;
}

.mini-button {
    width: auto;
    height: auto;
    font-size: 20px;
}

.mini-button:hover{
    background-color: #dfd;
}


.join-button {
    width: 100px;
    height: 50px;
    font-size: 15px;
}

.score {
    position:absolute;
    bottom:5px;
    right:10px;
    font-family:'Red Hat Display',sans-serif;
    font-weight:bolder;
    font-size: 30px;
    color: white;
}

.player {
    position:absolute;
    bottom:5px;
    left:10px;
    font-family:'Red Hat Display',sans-serif;
    font-weight:bolder;
    font-size: 30px;
    color: white;
}

.highscore {
    width: 600px;
    border-collapse: collapse;

}

.highscore th{
    text-align: center;
    font-size: 50px;
}

.highscore td {
    border: 1px solid black;
}

.highscore tr:nth-child(even) {
    background-color: #0000ff;
}

.highscore tr:nth-child(odd) {
    background-color: #1e90ff;
}

.authenticated{
    border: dotted 4px #000;
    border-radius: 10px 100px / 120px;
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
}

.createRoom{
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    text-shadow: 2px 2px 2px #4c4c4c;
    font-size: 40px;
    text-align: justify;
    margin-bottom: 30px;
    align-content: center;
}

.radio-genre {
    margin: 10px;
}

.radio-genre input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

/* modified button class */
.radio-genre label {
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    padding: 0.3em 1.2em;
    margin: 10px;
    border-radius:0.7em;
    border-color: #fff;
    border-style: solid;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Red Hat Display',sans-serif;
    font-weight:300;
    font-size: 30px;
    color:#4D5DCA;
    background-color: #fff;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    box-shadow: black;
}
.radio-genre label:hover {
    background-color: #dfd;
}
.radio-genre input[type="radio"]:checked + label {
    background-color: #7FFFD4;
    border-color: #F0F8FF;
}

.flex-container{
    border: 2px solid red;
    justify-content: center;
    display: flex;
}

.flex-child {
    flex: 0.5;
    border: 2px solid yellow;
}
.flex-child:first-child {
    margin-right: 20px;
    margin-left: 20%;
}
.flex-child:nth-child(even){
    margin-right: 20%;
}
.disabled-button{
    width: 230px;
    height: 80px;
    font-size: 20px;
    background-color: #a9a9a9;
    border-color: #a9a9a9;

}
.authmsg:hover + .hidden{
    display: block;
    color: red;
    font-size: 20px;
    text-align: center;
}

